body {
	font-family: Georgia, serif;
	font-size: 17px;
	max-width: 100%;
	border: auto;
	background-image: url("Pictures/background.jpg");
}	

section {
	border: 5px double black;
	padding: 50px;
	margin: 20px;
	max-width: 80%;
	background-color: rgba(255, 153, 0, 0.8);
	font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
	position: relative;
	float: left;
	left: 0px;
	max-width: 20%;
}

figure{
	width:700px;
	margin: 0 auto;
	text-align: center;
}

.attribute {
	position: relative;
	float: left;
	max-width: 48%;
}

main{
	position: relative;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 50px;
}

footer{
	padding-bottom: 20px;
	text-align: center;
	clear: both;
}

#form{
	position: fixed;
	bottom: 0;
}

/*Pseudo-link*/
a:visited{
	color: #00802b;
}

a:hover{
	color: #00ff00;
}

/* Responsive Rescaling */

@media screen and (max-width: 970px) {
  body {
    font-size: 12px;
  }
  section{
  	margin: 2px;
  	background-color: rgba(255, 153, 0, 0.6)

  }
  .sidebar{
  	position:absolute;
  	left: 0px;
  	z-index: 2;
  	text-align: left;
  }
  .attribute{
  	position: absolute;
  	right: 0px;
  	z-index: 1;
  	text-align: center;
  }
  footer{
  	position: static;
  	z-index: 0;
  }

}	